{% extends 'partials/base.html.twig' %}

{% block content %}
    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
    <ul>
    {% for v in page.header.imports.members %}
        <li><b>{{v.name}}</b> (joined {{v.joined}}{% if v.founder %}, founder{% endif %})</li>
    {% endfor %}
    </ul>
	{{ page.content }}
{% endblock %}
