---
sudo: required
dist: trusty

language: python
python: "2.7"

# Doc: https://docs.travis-ci.com/user/customizing-the-build#Build-Matrix
env:
  - ANSIBLE_VERSION=latest

branches:
  only:
    - grav

before_install:
  - sudo apt-get update -qq

install:
  # Install Ansible.
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible; else pip install ansible==$ANSIBLE_VERSION; fi
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible-lint; fi

script:
  - eval "$(ssh-agent -s)" #start the ssh agent
  - openssl aes-256-cbc -K $encrypted_ac3b881c48a4_key -iv $encrypted_ac3b881c48a4_iv -in deploy-user.enc -out deploy-user -d
  - chmod 600 deploy-user # this key should have push access
  - ssh-add deploy-user
  - export ANSIBLE_HOST_KEY_CHECKING=False
  - ansible-playbook -i ansible/inventory -u kanthaus-deploy --become-user kanthaus-deploy ansible/playbooks/kanthaus-online/deploy.playbook.yml -v
