dist: bionic
addons:
  apt:
    packages:
    - ansible
language: php
php:
  - '7.4'
branches:
  only:
  - master
install: composer install
cache:
  directories:
  - vendor
script:
- "./test.sh"
- eval "$(ssh-agent -s)"
- openssl aes-256-cbc -K $encrypted_ac3b881c48a4_key -iv $encrypted_ac3b881c48a4_iv
  -in deploy-user.enc -out deploy-user -d
- chmod 600 deploy-user
- ssh-add deploy-user
- export ANSIBLE_HOST_KEY_CHECKING=False
- ansible-playbook -i ansible/inventory -u kanthaus-deploy --become-user kanthaus-deploy
  ansible/playbooks/kanthaus-online/deploy.playbook.yml -v
notifications:
  slack:
    secure: NSiZhwhj3zZS28zVI4ACBEpSlXVi2MmHA+gR1kGZ3FSxad1aQJK2rGaM5m5FseX2A8gXAJ6BZqBEeFSBxDuTdTXphP1NZHKNM77KGChc1+IYRwu/0DIohCy7zmIRZXhvAus7JEk6u1rzCQysaYejMJ5xlRuFd8KN0EF1YqINbXafMjEd5pS877onsk6fk/PyokzLtIivob9YnLvVuRZLr6QyWBAjhYbMQ6GEa82dHzzrK7dY1DLSBmJuvoD6rJVy3j66LuhNrN8IJqovoGjU4zA3mfYCUW7nQXO4ZQtwPP+QrQPqe8rYlM69re/lrWoBj5MIDCWJPSMaJcJcyJjDbKznIhr2n6SjB5AEiOI7iZ2uzdE9awry3rzRWQgIhICTS8fzP1eBm+phWvodwiLaM2QfsaR4bpZ4lhROGSG+lyunneIoDXchwvlXI0Sb2qXgIFXf/NeZJ6UYD3dtCibjcMOfhMWM3HtX82peKMjB3OMo3HoPdkYazcimGhVaPXLPUsV6k0JN61cCce6400hdk5tJNuJftbutU7TPgm10ZF5PQTagILrDVSIJUUFYrqc3ZhUWKJlwchHOu64w2G3wuBOh+qE6Tnyejz9mVJG/Zo2pW6BsHnvN9UC1cJO9WShB0qune0LXsgBtli14H0vpn3o3dUcMYOCIUuxHGBPoD/M=
    on_success: change
    on_failure: always
    on_pull_requests: false
