{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection() %}
    {% set ongoing = page.collection().dateRange('-6 hours', false, 'header.enddate') %}
	{% set upcoming = page.collection().dateRange('-6 hours', false).merge(ongoing).order('date', 'asc') %}
    {% set past = page.collection().dateRange('-10 years', '-6 hours').order('date', 'desc') %}
    {% for o in ongoing %}
        {% do past.remove(o) %}
    {% endfor %}

	{% block content %}
		{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}

		{% if blog_image %}
		<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
		{% else %}
		<div class="blog-header">
		{% endif %}
			{{ page.content }}
		</div>

			{% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}

		<div class="content-wrapper blog-content-list">
			<div id="listing" class="block h-feed">
                <h1>{{ 'EVENT.RECURRING'|t }}</h1>
                <div class="list-item h-event">
                    <div class="list-blog-header">
                        <a href="projects/open-tuesday">{{ 'EVENT.OPEN_TUESDAY'|t }}</a>
                    </div>
                </div>

				{% for child in upcoming %}
			        {% include 'partials/event_item.html.twig' with {'blog':page, 'page':child, 'truncate':true, 'showdate':header.showitemdates} %}
			    {% endfor %}

                <h1>{{ 'EVENT.PAST'|t }}</h1>
                {% for child in past %}
			        {% include 'partials/event_item.html.twig' with {'blog':page, 'page':child, 'truncate':true, 'showdate':header.showitemdates} %}
			    {% endfor %}

                {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                {% endif %}
			</div>
		</div>
	{% endblock %}

{% endembed %}
