{% embed 'partials/base.html.twig' %}

	{% set upcoming = page.collection().dateRange('now', '+10 years').order('date', 'asc') %}
    {% set past = page.collection().dateRange('-10 years', 'now').order('date', 'desc') %}

	{% block content %}
		{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}

		{% if blog_image %}
		<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
		{% else %}
		<div class="blog-header">
		{% endif %}
			{{ page.content }}
		</div>

			{% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}

		<div class="content-wrapper blog-content-list">
			<div id="listing" class="block h-feed">
				{% for child in upcoming %}
			        {% include 'partials/event_item.html.twig' with {'blog':page, 'page':child, 'truncate':true, 'showdate':header.showitemdates} %}
			    {% endfor %}

                {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                {% endif %}

                <h1>{{ page.header.past|default('Past events') }}</h1>
                {% for child in past %}
			        {% include 'partials/event_item.html.twig' with {'blog':page, 'page':child, 'truncate':true, 'showdate':header.showitemdates} %}
			    {% endfor %}

                {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                {% endif %}
			</div>
		</div>
	{% endblock %}

{% endembed %}
