{% embed 'partials/base.html.twig' %}

	{% block content %}
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}

		<div class="blog-content-item">
			<div id="item" class="block h-entry">
			    {% include 'partials/event_item.html.twig' with {'blog':page.parent, 'truncate':false, 'showdate': true} %}
			</div>
		</div>
	{% endblock %}

{% endembed %}
