{% extends 'partials/base.html.twig' %}

{% block content %}
    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
    <h2>Mitglieder</h2>
    <ul>
    {% for v in page.header.imports.members %}
        <li><b>{{v}}</b></li>
    {% endfor %}
    </ul>
    <h2>Freiwillige</h2>
    <ul>
      {% for v in page.header.imports.volunteers %}
          <li><b>{{v}}</b></li>
      {% endfor %}
    </ul>
	{{ page.content }}
{% endblock %}
