        <footer>
            <p class="copyright text-muted">
              {{ .Site.Params.copyright | markdownify }}
              <br/>
              <a href="{{ .Site.Params.publicGitURL }}/edit/master/content/{{ .File.Dir }}{{ .File.TranslationBaseName }}.md">
                {{ if eq .Lang "en" }}
                  Edit this page
                {{ else }}
                  Edit the source page
                {{ end }}
              </a>
              {{ if and .IsNode (not .IsPage) (not .IsHome) }}
                &bullet; <a href="{{ .Site.Params.publicGitURL }}/new/master/content/{{ replaceRE "^/(en|de)/" "" .URL }}">Create a new page</a>
              {{ end }}
              &bullet;
              <a href="https://crowdin.com/project/kanthausonline/de">Edit translations</a>
            </p>
        </footer>
    </body>
</html>
